<%include ./partials/header.ejs %>
  <!-- Form for registration route -->
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-sm-9 mx-auto ">
        <br/>
        <h1 class="text-info">Login</h1>
        <form action="/login" method="POST" class="row justify-content-center bg-dark text-white">
          <div class="col-lg-9">
            <div class="form-group">
              <label for="username">User Name</label>
              <input class="form-control" type="text" id="username" name="username">
            </div>
          </div>

          <div class="col-lg-9">
            <div class="form-group">
              <label for="password">Password</label>
              <input class="form-control" type="password" id="password" name="password">
            </div>
          </div>

          <div class="col-lg-9">
            <button class="btn  btn-primary btn-block">Login</button>
          </div>

        </form>
      </div>



  <%include ./partials/footer.ejs %>
