form{
  display: block;
  padding: 1rem;

}

 .btn{
  text-align: center;
  margin-top: 2rem;
}



h1{
  text-align: center;

}
.alert{
  margin: 1rem;
}

ul{
  list-style: none;
}
.bodyPart{
  margin: auto;
}

.card{
  margin: 2rem;
}
