form {
  display: block;
  padding: 1.5rem;
}

.btn {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
}

.alert {
  margin: 1rem;
}

ul {
  list-style: none;
}

.bodyPart {
  margin: auto;
}

.card {
  margin: 2rem;
}

.jumbotron{
  margin: 4rem auto;
}
